#homepage{
    height: 100%;
    width: 100%;
    display: block;
    position:absolute;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin: 1em 1em auto 1em;
  }
  
  @keyframes floating {
    from {
      transform: translate(0, 0px);
    }
  
    65% {
      transform: translate(0, 15px);
    }
  
    to {
      transform: translate(0, -0px);
    }
  }
  
  html,
  body,
  pre,
  code,
  kbd,
  samp {
    font-family: "Press Start 2P";
  }
  
  .vcenter {
    height: 50vh;
    font-size: 3em;
    text-align: center;
    width: 80%;
    margin: 1em auto 1em auto;
  }

  .typecontainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .typecontainer p {
    padding: 0.5rem;
    text-align: center;
    overflow: hidden;
  }

  .typecontainer p span.typed-text {
    color: #222222;
  }

  .typecontainer p span.cursor {
    display: inline-block;
    background-color:#222222;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }

  .typecontainer p span.cursor.typing {
    animation: none;
  }

  @keyframes blink {
    0%  { background-color: #222222 }
    49% { background-color: #222222; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #222222 }
  }

.heading{
    top: 50%;
    left: 50%;
    position: fixed;
    height: 200px;
    width: 700px;
    text-align: center;
    font-size: 50px;
    margin-top: -100px;
    margin-left: -350px;
}
