body{
    margin: 0;
    height: 100vh;
}

canvas{
    display: block;
}

#world{
    background: linear-gradient(#8ee4ae, #e9eba3);
    position:absolute;
    width:100%;
    height:100%;
    overflow:hidden;
}